.container{
    background-color: #5f4646;
    color: white;
    border-radius: 1rem;
    margin: 1rem;
    padding: .5rem;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.7);
    text-align: center;
}

.container_btn_generate, .container_btn_clear {
    display: flex;
    justify-content: start;
}

.container_btn{
    display: flex;
}
.container_done{
    color: #5bc546;
    margin-left: .5rem;
}

 